@page "/widget-gallery"
@inherits ComponentWithViewModel<WidgetGalleryViewModel>
<h1 class="h3 mb-2 text-gray-800">Widget Gallery</h1>
<p> A random number: @ViewModel.NumberService.GetRandomNumber()</p>
