@using Sphere10.Hydrogen.Presentation.Plugins
@using System.Net.Mime
@inherits ComponentWithViewModel<AppsMenuViewModel>

<!-- Heading -->
<div class="sidebar-heading text-center">
    Apps
</div>
<li class="nav-item">
    <div class="d-flex flex-wrap justify-content-center app-block-container">
        @foreach (IApp app in ViewModel?.Apps!)
        {
            <NavLink class="nav-link w-auto" data-toggle="tooltip" title="@app.Name" ActiveClass="active" href="@app.Route" Match="NavLinkMatch.Prefix">
                <button class="btn btn-sm btn-primary @NavItemClass(app.Name)">
                    <img src="@app.Icon" width="25" height="25"/>
                </button>
            </NavLink>            
        }
    </div>
</li>

@code
{
    private string NavItemClass(string appName) => ViewModel!.SelectedApp?.Name == appName ? "active focus" : "";
}