<CascadingValue Value="EditContext">
    <ValidationSummary/>
    <DataAnnotationsValidator/>
    @CurrentStepFragment
</CascadingValue>

@if (CurrentStepInstance is not null)
{
    <div class="row">
        <div class="col-6 text-left">
            <button class="btn btn-info btn-sm" disabled="@IsDisabled()" @onclick="PreviousAsync">@CurrentStepInstance!.BackButtonText</button>
        </div>

        <div class="col-6 text-right">

            @if (CurrentStepInstance!.IsCancellable)
            {
                <button class="btn btn-secondary btn-sm" @onclick="CancelAsync"> @CurrentStepInstance!.CancelButtonText</button>
            }

            @if (HasNext)
            {
                <button class="btn btn-info btn-sm" @onclick="NextAsync">@CurrentStepInstance!.NextButtonText</button>
            }
            else
            {
                <button class="btn btn-info btn-sm @FinishClass()" @onclick="FinishAsync">@CurrentStepInstance!.FinishButtonText</button>
            }
        </div>
    </div>
}


@code
{
    public bool IsDisabled() => !HasPrevious || IsFinished;

    public string FinishClass() => IsFinished ? "disabled" : "";
}