@page "/servers"
@using VelocityNET.Presentation.Hydrogen.Models
@inherits ComponentWithViewModel<ServersViewModel>


<h3>Servers</h3>

<div class="row">
    <div class="col-md-auto">
        <div class="card shadow">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Available servers</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <th scope="col">Name</th>
                    <th scope="col">URI</th>
                    <th scope="col">Active</th>
                    </thead>
                    <tbody>
                    @foreach (Server server in ViewModel!.Servers)
                    {
                        <tr>
                            <td>@server.Name</td>
                            <td>@server.Uri</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>