.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.3;
    z-index: 10;
}

.overlay-spinner {
    height: 100px;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    z-index: 11;
}