<div class="app-block-menu">
    <div class="sidebar-cta">
        <div class="sidebar-cta-content">
            <strong class="d-inline-block mb-2">Apps</strong>
            <a href="#" class="btn btn-primary btn-block" target="_blank">H</a>
        </div>
    </div>
</div>