<div class="sidebar-cta d-flex flex-wrap justify-content-center">
    <div class="sidebar-cta-content app-block-menu">
        <strong class="d-block mb-2 text-center">Apps</strong>
        <div class="d-flex flex-wrap justify-content-center app-block-menu-content">
            <button class="btn btn-sm btn-primary mx-1 my-1 active focus">
                <img src="_content/Sphere10.Hydrogen.Presentation2/img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="_content/Sphere10.Hydrogen.Presentation2/img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="_content/Sphere10.Hydrogen.Presentation2/img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="_content/Sphere10.Hydrogen.Presentation2/img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="_content/Sphere10.Hydrogen.Presentation2/img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="_content/Sphere10.Hydrogen.Presentation2/img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
        </div>
    </div>
</div>