@using Sphere10.Framework
@inherits WizardStep<NewWalletModel>

<h6 class="mb-3">Encrypt wallet with a password.</h6>
<EditForm Model="@Model">
    <div class="form-group row">
        <label class="col-form-label col-sm-3 text-sm-right">Password:</label>
        <div class="col-sm-5">
            <InputText @bind-Value="Password" type="password" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-3 text-sm-right">Confirm password:</label>
        <div class="col-sm-5">
            <InputText @bind-Value="ConfirmPassword" type="password" class="form-control"/>
        </div>
    </div>
</EditForm>

@code {
    public override string Title { get; } = "Password";

    private string Password { get; set; } = null;

    private string ConfirmPassword { get; set; } = null;

    public override async Task<Result> OnNextAsync()
    {
        if (string.IsNullOrEmpty(Password))
        {
            return Result.Error("Password is required.");
        }
        else
        {
            if (string.Equals(Password, ConfirmPassword))
            {
                return Result.Valid;
            }
            else
            {
                return Result.Error("Confirm password doesn't match");
            }
        }
    }

    public override Task<Result> OnPreviousAsync() => Task.FromResult(Result.Valid);
}