@using Hydrogen
@inherits WizardStep<NewWalletModel>

<h6 class="mb-3">Encrypt wallet with a password.</h6>
<EditForm Model="@Model">
    <div class="form-group row">
        <label class="col-form-label col-sm-4">Password:</label>
        <div class="col-sm-5">
            <InputText @bind-Value="Password" type="password" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-4">Confirm password:</label>
        <div class="col-sm-5">
            <InputText @bind-Value="ConfirmPassword" type="password" class="form-control"/>
        </div>
    </div>
</EditForm>

@code {
    public override string Title { get; } = "Password";

    private string Password { get; set; }

    private string ConfirmPassword { get; set; }

    public override Task<Result> OnNextAsync()
    {
        Result result;

        if (string.IsNullOrEmpty(Password))
        {
            result = Result.Error("Password is required.");
        }
        else
        {
            result = string.Equals(Password, ConfirmPassword) ?
                Result.Valid
                : Result.Error("Confirm password doesn't match");
        }

        return Task.FromResult(result);
    }

}