@using Hydrogen
@inherits WizardStep<NewWalletModel>

<div>
    <h5 class="h6 card-title">Summary</h5>
    <p> Name: @Model.Name</p>
</div>

@code {
    public override string Title { get; } = "Summary";

    public override string NextButtonText { get; } = "Create";
}