// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@using System.Linq.Expressions

<EditForm Model="@(new object())" class="d-inline-block">
    <InputSelect id="pageSize" class="custom-select custom-select-sm form-control form-control-sm w-auto" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </InputSelect>
</EditForm>

@code
{
#nullable enable
    /// <summary>
    /// Gets or sets the value of the input. This should be used with two-way binding.
    /// </summary>
    /// <example>
    /// @bind-Value="model.PropertyName"
    /// </example>
    [Parameter]
    public int Value { get; set; }

    /// <summary>
    /// Gets or sets a callback that updates the bound value.
    /// </summary>
    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    /// <summary>
    /// Gets or sets an expression that identifies the bound value.
    /// </summary>
    [Parameter]
    public Expression<Func<int>>? ValueExpression { get; set; }
}