// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@page "/widget-gallery/wizards"
@using Hydrogen.DApp.Presentation.Services
@inherits ComponentWithViewModel<WizardsViewModel>

<button @onclick="ShowWizardAsync" class="btn-primary btn btn-sm"> New Widget</button>

<table class="table table-borderless">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var widget in ViewModel!.Widgets) {
        <tr>
            <td>@widget.Name</td>
            <td>@widget.Description</td>
            <td>@widget.Price</td>
        </tr>
    }
    </tbody>
</table>

@code
{
    [Inject]
    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    private IModalService ModalService { get; set; }

    private async Task ShowWizardAsync() {
        await ModalService.ShowWizardAsync(ViewModel!.NewWidetWizard(), new Dictionary<string, object>() {
            {
                nameof(WizardModal.Height), (375, 500)
            }
        });
    }
}