// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@using Microsoft.JSInterop
@using Microsoft.Extensions.Options
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @HeaderTemplate
            <button type="button" class="close" @onclick="OnCloseAsync" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="min-width: @ToPixelString(Width?.min); max-width: @ToPixelString(Width?.max); min-height: @ToPixelString(Height?.min); max-height: @ToPixelString(Height?.max);">
            @BodyTemplate
        </div>

        <div class="modal-footer">
            @FooterTemplate
        </div>
    </div>
</div>

@code
{
#nullable enable

    [Inject]
    private IJSRuntime JsRuntime { get; set; } = null!;

    [Parameter]
    public RenderFragment? HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment? FooterTemplate { get; set; }

    [Parameter]
    public RenderFragment? BodyTemplate { get; set; }

    [Parameter]
    public Func<Task<bool>> OnCloseFunc { get; set; } = () => Task.FromResult(true);

#warning These paramters were commented out in WizardModal.razor due to latest lang .NET compilation issues. Resolve!
    [Parameter]
    public (int min, int max)? Width { get; set; }

    [Parameter]
    public (int min, int max)? Height { get; set; }

    private string? MinWidth => Width is null ? null : $"{Width.Value.min}px";

    private string? MaxWidth => Width is null ? null : $"{Width.Value.max}px";

    private string? MinHeight => Height is null ? null : $"{Height.Value.min}px";

    private string? MaxHeight => Height is null ? null : $"{Height.Value.max}px";

    private string? ToPixelString(int? value) => value is null ? null : $"{value.Value}px";

    private async Task OnCloseAsync() {
        if (await OnCloseFunc()) {
            await JsRuntime.InvokeVoidAsync("hideModal");
        }
    }
}