tr, .TableClass {
    border-bottom: 0px;
    table-layout: fixed !important;
    width: 100%;
}

th, td {

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.TableHeaderClass { }

.TableDataClass {
    padding: 0px 0px 0px 0px !important;
    height: auto;
}

.TableCellClass {
    padding: 0px;
    border: 0px;
    width: inherit;
    background-color: inherit;
    color: black;
}

.ResizableClass { width: -webkit-fill-available; }

input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
}

input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; }

.ActionButton {
    padding: 1px;
    margin: 1px;
    border: 1px;
}

.PagingInput {
    width: 50px;
    padding: 0px 5px 0px 5px;
}