@using Microsoft.JSInterop
@typeparam TItem
@inject IJSRuntime JsRuntime
<table class="@Class" id="@Id">
    <thead>
    @HeaderTemplate
    </thead>

    <tbody>
    @foreach (TItem item in Items)
    {
             @ItemTemplate(item)
    }
    </tbody>
</table>

@code
{
    int Id { get; } = new Random().Next();
    
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        JsRuntime.InvokeVoidAsync("initDataTableById", Id, new
        {
            responsive = true,
            paging = true
        });
        return base.OnAfterRenderAsync(firstRender);
    }
}
