@typeparam TItem

<table class="@Class">
    <thead>
    @HeaderTemplate
    </thead>
    
    <tbody>
    @foreach (TItem item in Items)
    {
        <span style="display: contents" onclick="@EventCallback.Factory.Create(this, () => OnRowSelect.InvokeAsync(item))">
            @ItemTemplate(item)
        </span>
    }
    </tbody>
    
</table>