<!-- Heading -->
<div class="sidebar-heading">
    Apps
</div>

<!-- Nav Item -  -->
<li class="nav-item">
    <NavLink class="nav-link" href="/widgets" Match="NavLinkMatch.Prefix">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Widgets</span>
    </NavLink>
</li>

<li class="nav-item">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
          <i class="fas fa-fw fa-wallet"></i>
                <span>Wallet</span>
    </NavLink>
</li>



<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">