@using VelocityNET.Presentation.Blazor.Shared.Plugins
@using System.Net.Mime
@inherits ComponentWithViewModel<AppsMenuViewModel>

<!-- Heading -->
<div class="sidebar-heading">
    Apps
</div>
@foreach (IApp app in ViewModel.Apps)
{
    <li class="nav-item">
        <a class="nav-link" @onclick="(() => ViewModel.NavigateToApp(app.Name))">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>@app.Name</span>
        </a>
    </li>
}