@using System.Runtime.InteropServices
@using VelocityNET.Presentation.Blazor.Shared.Plugins
@inherits VelocityNET.Presentation.Blazor.Shared.Components.ComponentWithViewModel<BlockMenuViewModel>

@foreach (IAppBlock block in ViewModel.SelectedApp?.AppBlocks ?? Enumerable.Empty<IAppBlock>())
{
    <!-- Heading -->
    <div class="sidebar-heading">
        @block.Name
    </div>

    <!-- Nav Item - Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>@block.Name</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                
                @foreach (IAppBlockPage blockPage in block.AppBlockPages)
                {
                    <a class="collapse-item" href="@blockPage.Route">@blockPage.Name</a>
                }
            </div>
        </div>
    </li>
}
