 @inject SidebarViewModel ViewModel
 
 <!-- Sidebar -->
        <ul class="navbar-nav bg-colour-alternate sidebar sidebar-dark accordion" id="accordionSidebar">

            <SidebarBrand/>
            <BlockMenu/>
            <AppBlocksMenu/>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>