@using Hydrogen
@inherits ModalComponent

<ModalTemplate Options="@Options">
    <HeaderTemplate>
        <h5 class="modal-title">@Title</h5>
    </HeaderTemplate>
    <BodyTemplate>
        <CascadingValue Value="Message">
            @Body
        </CascadingValue>
    </BodyTemplate>
    <FooterTemplate>
        @foreach ((string buttonText, int i) in ButtonsText.WithIndex())
        {
            <div class="btn-group">
                <a type="button" class="btn btn-primary btn-sm" @onclick="() => OkData(i)">@buttonText</a>
            </div>
        }
    </FooterTemplate>
</ModalTemplate>

@code
{

    [Parameter]
    public string Title { get; set; } = "Information";

    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public string[] ButtonsText { get; set; }

    protected override void OnParametersSet()
    {
        if (Body is null)
        {
            throw new InvalidOperationException("Body parameter is required.");
        }
    }
}