// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

<div class="sidebar-cta d-flex flex-wrap justify-content-center">
    <div class="sidebar-cta-content app-block-menu">
        <strong class="d-block mb-2 text-center">Apps</strong>
        <div class="d-flex flex-wrap justify-content-center app-block-menu-content">
            <button class="btn btn-sm btn-primary mx-1 my-1 active focus">
                <img src="./img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="./img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="./img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="./img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="./img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
            <button class="btn btn-sm btn-primary mx-1 my-1">
                <img src="./img/heading-solid.svg" width="25" height="25" alt=""/>
            </button>
        </div>
    </div>
</div>