// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@inherits ComponentWithViewModel<SidebarBrandViewModel>

<div class="sidebar-brand d-flex align-items-center justify-content-center dropdown-toggle" id="datasource-dropdown" data-toggle="dropdown">
    <img class="sidebar-brand-img" src="img/brand-icon.svg" alt=""/>

    <div class="dropdown-menu dropdown-menu-right shadow">
        @foreach (Uri uri in ViewModel!.Endpoints) {
            bool active = IsActive(uri);

            <a class="dropdown-item" role="button" @onmousedown="() => ViewModel!.OnSelectEndpointAsync(uri)">
                @if (active) {
                    <i class="fas fa-check fa-sm fa-fw mr-2 text-success"></i>
                } else {
                    <i class="fas fa-server fa-sm fa-fw mr-2 text-gray-400"></i>
                }
                @uri
            </a>
        }
    </div>

</div>

@code
{
    private bool IsActive(Uri server) => ViewModel!.Endpoint == server;
}