.bg-colour-alternate { background-color: #050e2b; }

.bottom-sidebar {
    position: absolute;
    bottom: 0;
    width: inherit;
}

@media (max-width: 768px) {
    .sidebar.toggled .bottom-sidebar { display: none }
}