<div class="ResizableClass">
    <select id="@ListId">
        <option value="Bitcoin">Bitcoin</option>
        <option value="Polkadot">Polkadot</option>
        <option value="Ethereum">Ethereum</option>
    </select>
</div>