// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@using Hydrogen.DApp.Presentation.Models
<div class="input-group dropdown">
    <input type="text" class="form-control bg-light border-0 small search-input" @bind-value="@SearchTerm" @bind-value:event="oninput" placeholder="Search for..." @onkeyup="() => OnSearchAsync(SearchTerm)"
           aria-label="Search">

    <div class="input-group-append">
        <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>

    <div class="dropdown-menu search-input-results animated--fade-in" aria-labelledby="dropdownMenuButton">
        @if (Results.Any()) {
            @foreach (SearchResult result in Results.Take(ResultsCount)) {
                <a class="dropdown-item" href="@result.Route">@result.Name</a>
            }
        } else {
            <div class="dropdown-item small text-gray-500"> No Results</div>
        }

    </div>
</div>

@code
{
#nullable enable

    private string SearchTerm { get; set; } = string.Empty;
}