@inherits WizardStep<NewWidgetModel, NewWidgetSummaryViewModel>


<h5>Summary</h5>

<p>Name: @ViewModel.Model.Name</p>
<p>Description: @ViewModel.Model.Description</p>
<p>Price: $@ViewModel.Model.Price</p>

@code {
    public override string Title { get; } = "Summary";
}
