// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@using Microsoft.JSInterop
@using Hydrogen.DApp.Presentation2.Logic.Modal
@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime


<div class="wrapper">
    <Sidebar/>
    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>

            <form class="d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <SearchInput SearchProvider="@SearchProvider" SearchFreqLimitMs="100"/>
                    <div class="input-group-append">
                        <button class="btn" type="button">
                            <i class="align-middle" data-feather="search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <TopMenu/>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                            <img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded-circle mr-1" alt="Chris Wood"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="pages-profile.html"><i class="align-middle mr-1" data-feather="user"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="pie-chart"></i> Analytics</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="pages-settings.html">Settings & Privacy</a>
                            <a class="dropdown-item" href="#">Help</a>
                            <a class="dropdown-item" href="#">Sign out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="content">
            <div class="container-fluid p-0">
                @Body
            </div>
        </main>

        <Footer/>
    </div>
</div>
<ModalHost @ref="_modalHost"/>

@code {

    private ModalHost _modalHost;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await JsRuntime.InvokeVoidAsync("dispatchContentLoadedEvent");
        ModalService.Initialize(_modalHost);
    }

    public SearchInput.SearchProviderDelegate SearchProvider { get; } = term => Task.FromResult(Enumerable.Repeat(term, 5));


}