// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

<ul class="navbar-nav">
    <li class="nav-item px-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </a>
        <div class="dropdown-menu dropdown-menu-left dropdown-mega" aria-labelledby="servicesDropdown">
            <div class="d-md-flex align-items-start justify-content-start">
                <div class="dropdown-mega-list">
                    <div class="dropdown-header">Menu Items</div>
                    <a class="dropdown-item" href="#">Item 1</a>
                    <a class="dropdown-item" href="#">Item 2</a>
                </div>
                <div class="dropdown-mega-list">
                    <div class="dropdown-header">Menu Items</div>
                    <a class="dropdown-item" href="#">Item 1</a>
                    <a class="dropdown-item" href="#">Item 2</a>
                </div>
                <div class="dropdown-mega-list">
                    <div class="dropdown-header">Menu Items</div>
                    <a class="dropdown-item" href="#">Item 1</a>
                    <a class="dropdown-item" href="#">Item 2</a>
                    <a class="dropdown-item" href="#">Item 3</a>
                    <a class="dropdown-item" href="#">Item 4</a>
                    <a class="dropdown-item" href="#">Item 5</a>
                </div>
            </div>
        </div>
    </li>
</ul>