// Copyright (c) Sphere 10 Software. All rights reserved. (https://sphere10.com)
// Author: Hamish Rose
//
// Distributed under the MIT software license, see the accompanying file
// LICENSE or visit http://www.opensource.org/licenses/mit-license.php.
//
// This notice must not be removed when duplicating this file or its contents, in whole or in part.

@inherits ModalComponent<ModalViewModel>

<ModalTemplate>
    <HeaderTemplate>
        Add new server
    </HeaderTemplate>
    <BodyTemplate>
        <form>
            <input type="text" value="baz"/>
        </form>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-success"> Save</button>
        <button class="btn btn-secondary"> Cancel</button>
    </FooterTemplate>
</ModalTemplate>