@inherits ModalComponent<ModalViewModel>

<ModalTemplate>
    <HeaderTemplate>
        Add new server
    </HeaderTemplate>
    <BodyTemplate>
        <form>
            <input type="text" value="baz"/> 
        </form>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-success"> Save</button>
        <button class="btn btn-secondary"> Cancel</button>
    </FooterTemplate>
</ModalTemplate>
