@inherits ModalComponent<ModalViewModel>

<ModalTemplate>
    <HeaderTemplate>
        <h5 class="modal-title">@Title</h5>
    </HeaderTemplate>
    <BodyTemplate>
        <p>@Message</p>
    </BodyTemplate>
    <FooterTemplate>
        <a type="button" class="btn btn-secondary" @onclick="ViewModel.Cancel">@CancelMessageText</a>
        <a type="button" class="btn btn-success" @onclick="ViewModel.Ok">@ConfirmMessageText</a>
    </FooterTemplate>
</ModalTemplate>

@code
{
    [Parameter]
    public string Title { get; set; } = "Confirm";

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string ConfirmMessageText { get; set; } = "Confirm";

    [Parameter]
    public string CancelMessageText { get; set; } = "Cancel";
}