@typeparam TWizard
@inherits ModalComponent<ModalViewModel>

<ModalTemplate>
    <HeaderTemplate>
        <h5 class="modal-title">@Title</h5>
    </HeaderTemplate>
    <BodyTemplate>
                 @Wizard
    </BodyTemplate>
</ModalTemplate>