@inherits VelocityNET.Presentation.Hydrogen.Components.Wizard.WizardStep<VelocityNET.Presentation.Hydrogen.WidgetGallery.Widgets.Models.NewWidgetModel, NewWidgetWizardStepViewModel>

@if (Model is not null)
{
    <EditForm EditContext="EditContext">

        <div class="form-group">
            <label for="Name">Name</label>
            <InputText id="Name" class="form-control form-control-sm" @bind-Value="Model.Name"/>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <InputText id="Description" class="form-control form-control-sm" @bind-Value="Model.Description"/>
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <InputNumber id="Price" class="form-control" @bind-Value="Model.Price"/>
        </div>

    </EditForm>
    <div class="form-group">
        <label for="dimensions">Supply dimensions ? </label>
        <input class="form-control form-control-sm" id="dimensions" type="checkbox" @bind="@KnownDimensions"/>
    </div>
}

@code
{
    public override bool IsCancellable { get; } = false;

    public override string Title { get; } = "New Widget";

    private bool _knownDimensions;

    /// <summary>
    /// Gets or sets a value indicating whether the dimensions are known and can be supplied.
    /// </summary>
    private bool KnownDimensions
    {
        get => _knownDimensions;
        set
        {
            if (value && !_knownDimensions)
            {
                NextStep = typeof(WidgetDimensionsStep);
            }
            else if (!value)
            {
                NextStep = null;
            }

            _knownDimensions = value;
        }
    }
}