@inherits WizardStep<NewWidgetModel, WidgetDimensionsStepViewModel>

<EditForm Model="ViewModel.Model">

    <div class="form-group">
        <label for="Name">Height</label>
        <InputNumber id="Name" class="form-control form-control-sm" @bind-Value="ViewModel.Model.Height" />
    </div>

    <div class="form-group">
        <label for="Description">Length</label>
        <InputNumber id="Description" class="form-control form-control-sm" @bind-Value="ViewModel.Model.Length" />
    </div>

</EditForm>

@code {
    public override string Title { get; } = "Properties";
}