@page "/widget-gallery/wizards"
@using VelocityNET.Presentation.Hydrogen.Services
@inherits ComponentWithViewModel<WizardsViewModel>

<button @onclick="ShowWizardAsync" class="btn-primary btn btn-sm"> New Widget</button>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var widget in ViewModel!.Widgets) {
            <tr>
                <td>@widget.Name</td>
                <td>@widget.Description</td>
                <td>@widget.Price</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    [Inject]
    // ReSharper disable once UnusedAutoPropertyAccessor.Local
    private IModalService ModalService { get; set; }

    private async Task ShowWizardAsync() {
        await ModalService.ShowWizardAsync(ViewModel!.NewWidetWizard(), new Dictionary<string, object>() {
            {nameof(WizardModal.Height), (375, 500)}
        });
    }
}
