@using VelocityNET.Presentation.Hydrogen.Models
@inherits ComponentWithViewModel<DataSourceViewModel>


<li class="nav-item d-flex align-items-center justify-content-center mb-4">
    <a role="button" class="btn btn-sm btn-info shadow-sm dropdown-toggle data-source-btn" title="@ViewModel!.ActiveServer"
       id="datasource-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-cogs"></i>
        <span>Connected</span>
    </a>


    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu shadow animated--fade-in"
         aria-labelledby="datasource-dropdown">
        <h6 class="dropdown-header bg-info border-info">
            Servers
        </h6>

        @foreach (Uri server in ViewModel!.AvailableServers)
        {
            bool active = IsActive(server);

            <a class="dropdown-item d-flex align-items-center" role="button" @onclick="@(() => ViewModel!.OnSelectServerAsync(server))">

                <div>
                    <div class="small text-gray-500">
                    @if (active)
                    {
                        <i class="fa fa-check mr-2 text-success"></i>
                    }
                    @server</div>
                </div>
            </a>
        }
        <NavLink class="dropdown-item text-center small text-gray-500" href="/servers" > Servers</NavLink>
    </div>
</li>

@code
{
    private bool IsActive(Uri server) => ViewModel!.ActiveServer == server;
}