@inherits ComponentWithViewModel<SidebarBrandViewModel>

<a class="sidebar-brand d-flex align-items-center justify-content-center dropdown-toggle"
   href="#" role="button"
   aria-haspopup="true" aria-expanded="false" id="datasource-dropdown" data-toggle="dropdown">
    <img class="sidebar-brand-img" src="img/brand-icon.svg" alt=""/>
    
    <div class="dropdown-menu dropdown-menu-right shadow"
         aria-labelledby="datasource-dropdown">
        @foreach (Uri server in ViewModel!.AvailableServers)
        {
            bool active = IsActive(server);

            <a class="dropdown-item" role="button" href="" @onclick="OnClicked">
                @if (active)
                {
                    <i class="fas fa-check fa-sm fa-fw mr-2 text-success"></i>
                }
                else
                {
                    <i class="fas fa-server fa-sm fa-fw mr-2 text-gray-400"></i>
                }

                @server
            </a>
        }
    </div>
</a>

@code
{
    private bool IsActive(Uri server) => ViewModel!.ActiveServer == server;

    private void OnClicked() => Console.WriteLine("Clicked");
}