<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center"
   href="#" id="brandDropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    <div class="sidebar-brand-text mx-3"> VelocityNET</div>
</a>